@model WebApp.Models.CommentViewModel

<div class="comment-wrapper">
    <div class="comment-section">
        <img class="comment-image" src="@Model.PhotoData["urls"]["regular"]" />
        <img class="comment-author-photo" src="@Model.UserData["profile_image"]["medium"]" />
        <ul class="comment-author">
            <li class="comment-author-name">@Model.PhotoData["user"]["name"]</li>
            <li class="comment-author-location">@Model.UserData["location"]</li>
            <li class="comment-author-bio">@Model.PhotoData["user"]["bio"]</li>
            <li class="comment-author-portfolio">@Model.PhotoData["user"]["portfolio_url"]</li>
        </ul>
    </div>
    <div class="comment-section comment-section-right">
        <div class="comment-comments">
            @{
                if (Model.Comments != null)
                {
                    foreach (var item in Model.Comments)
                    {
                        <div class="comment">
                            <div class="comment-name">@item.UserName</div>
                            <div class="comment-text">@item.UserComment</div>
                        </div>
                    }
                }
                else
                {
                    <div class="comment">
                        <div class="comment-name">No Comments?</div>
                        <div class="comment-text">Be the first one to give opinion about this image</div>
                    </div>
                }
            }
        </div>
        <form class="comment-comments-input" method="post">
            <textarea maxlength="500" style="resize:none;" class="commentInput" id="commentInput" name="commentInput"></textarea>
            <input class="btn comment-submit" type="submit" />
        </form>

    </div>
</div>