@{
    ViewBag.Title = "Index";
}

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<div class="gallery-wrapper">
    <img class="gallery-random-background" src="@ViewData["RandomImageUrl"]" />
    <div class="gallery-random-background-overlay">
        <div class="gallery-image-container">
            @foreach (var i in ViewBag.PhotoList)
            {
                <div class="gallery-image">
                    <img src="@i["urls"]["regular"]" />
                    <div class="gallery-image-overlay"></div>
                </div>
            }

            <div class="gallery-page-number-wrapper">
                <ul class="gallery-page-number-list">
                    @{
                        foreach (int i in ViewBag.PageNumbers)
                        {
                            <li class="gallery-page-number" id="@(i+1)">
                                <a href="@Url.Action("Index", "Gallery", new { id = (i+1) })">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

