@{
    ViewBag.Title = "Index";
}

@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<div id="search-wrapper"></div>

<div class="gallery-wrapper">
    <img class="gallery-random-background" src="@ViewData["RandomImageUrl"]" />
    <div class="gallery-random-background-overlay">
        <div class="gallery-image-container">
            @foreach (var i in ViewBag.PhotoList)
            {
                <div class="gallery-image">
                    <img src="@i["urls"]["regular"]" />
                    <div class="gallery-image-overlay">
                        <div class="gallery-image-overlay-wrapper">
                            <div class="gallery-image-overlay-title">@i["id"]</div>
                            <div class="gallery-image-overlay-author-likes"><i class="fas fa-heart"></i> @i["likes"]</div>

                            <ul class="gallery-image-overlay-comment-wrapper">
                                @foreach (var photo in ViewBag.CommentList) {
                                                var p = photo.PhotoId;
                                                if (photo.PhotoId.ToString() == i["id"].ToString())
                                                {
                                        <li class=""><i class="fas fa-comment"></i> @photo.CommentAmount</li>
                                    }
                                }
                                <a href="@Url.Action("Index","Comment",new { id = i["id"]})"><li class="btn gallery-image-overlay-comment-button">View Comments</li></a>
                            </ul>

                            <div class="gallery-image-overlay-author">
                                <img class="gallery-image-overlay-author-profile" src="@i["user"]["profile_image"]["medium"]" />
                                <div class="gallery-image-overlay-author-name">@i["user"]["name"]</div>
                                <ul class="gallery-image-overlay-author-social">
                                    <li><i class="fab fa-instagram"></i> @(i["user"]["instagram_username"] != null ? i["user"]["instagram_username"] : "N/A" )</li>
                                    <li><i class="fab fa-twitter-square"></i> @(i["user"]["twitter_username"] != null ? i["user"]["twitter_username"] : "N/A")</li>
                                    <li><i class="far fa-address-card"></i> @(i["user"]["portfolio_url"] != null ? i["user"]["portfolio_url"] : "N/A")</li>
                                </ul>
                            </div>

                        </div>
                        <div class="gallery-image-overlay-button-wrapper">
                            <div class="btn gallery-image-overlay-button">View</div>
                        </div>
                    </div>
                </div>
            }

            <div class="gallery-page-number-wrapper">
                
                    <ul class="gallery-page-number-list">
                        @{
                            foreach (int i in ViewBag.PageNumbers)
                            {
                                <li class="gallery-page-number" id="@(i+1)">
                                    <a href="@Url.Action("Index", "Gallery", new { id = (i+1) })">@(i + 1)</a>
                                </li>
                            }
                        }
                    </ul>
                
            </div>
        </div>
    </div>
</div>

